<!DOCTYPE html>
<html>

<head>
    <title>
        Email Spam Classifier
    </title>
    <style>
        body{
            text-align: center;
        }
    </style>
</head>

<body>
    <h1>Email Spam Classifier</h1>
    <div>
        <form method="post" action="/predict">
            <textarea name="email-content" rows="12" cols="60" name="content" placeholder="Type or paste your email here">{{email}}</textarea>
            <div>
                <button>
                    Submit
                </button>
            </div>
            <a href="/">Reset</a>
        </form>
        {% if predictions==1 %}
            <h2 style="color: red;">SPAM</h2>
        {% elif predictions==-1 %}
            <h2 style="color: green;">NOT SPAM</h2>
        {% endif %}
    </div>
</body>

</html>